src/main/mule/demo-github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="15270bf2-5361-4898-a8e0-2074892c7ca8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-githubFlow" doc:id="5e427b74-5f07-405d-aaa1-1df4d0865730" >
		<http:listener doc:name="Listener" doc:id="eaf4c439-dcc4-4e23-813c-75bad0b4ee48" config-ref="HTTP_Listener_config" path="/github"/>
		<set-payload value="#['Demo github 2']" doc:name="Set Payload" doc:id="59caa39f-53d2-4c58-9b1a-e0aa1c0ba0f2" />
	</flow>
</mule>
